@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #e63946;
  width: 100%;
  min-height: 100vh;
  font-family: "Robot", sans-serif;
}

main {
  max-width: 40%;
  margin: auto;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin-top: 30vh;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  min-height: 420px;
}

.main-converter {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: auto;
}

h2 {
  text-align: center;
  padding: 10px;
}

.container-left,
.swap-rate-container {
  width: 100%;
  height: auto;
  text-align: center;
}

.container-right {
  width: 100%;
  padding: 20px;
  line-height: 2rem;
}

p {
  padding-top: 10px;
  color: grey;
}

img {
  width: 100px;
}

button {
  outline: none;
  background-color: none;
}

.rate {
  width: 50px;
}

input,
select {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  outline: none;
  color: black;
}

input:focus {
  border: 2px solid lightgreen;
  outline: none;
}

select {
  background-color: #f7f0b8;
  border: none;
}

select:hover {
  background-color: lightcyan;
}
